# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/Discord bot.iml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Backup/
__pycache__/
.env
futsukin_bougen.json
futsukin_meigen.json
SpreadsheetAPI.json
AGEHABot_Run.vbs
